
// =======================================================
// DASHBOARD
// =======================================================

@mixin sidebar-background {
    background: linear-gradient(170.81deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 97.51%);
}

.dashboard-wrapper {
    display: flex;
    font-family: $font-nunito-sans !important;
    font-size: 15px;
}
.dashboard-sidebar {
    width: 400px;
    min-height: 100vh;
    @include sidebar-background();
    -webkit-box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.4);

    hr {
        margin: 0;
    }

    .user-info {
        padding: 1rem;
    }
    .user-name {
        margin-left: 10px;
    }
    .user-image {
        width: 50px;
        height: 50px;
        background-color: white;
    }
}
.dashboard-content {
    width: 100%;
    padding: 60px 75px;
}

/**
 * Sidebar
 */

.dashboard-logo {
    padding: 1rem;
    a {
        color: inherit;
    }
}
.dashboard-sidebar-divider {
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.dashboard-sidebar-items {
    list-style-type: none;
    padding: 0;
}
.dashboard-sidebar-item {
    a {
        i {
            text-align: center;
            margin-right: 14px;
            min-width: 20px;
        }
        color: black;
        padding: 10px 20px;
        display: block;
        position: relative;
        &::after {
            width: 0%;
            height: 100%;
            top: 0;
            left: 0;
            background: #fff;
        }
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        &:hover {
            &::after {
                width: 100%;
            }
            opacity: 0.8;
            -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        }
    }
}