
// =======================================================
// GERAL
// =======================================================

body {
    font-family: $font-oswald !important;
    font-family: $font-roboto !important;
    font-family: $font-asap !important;
    font-family: $font-exo !important;
    font-family: $font-open-sans !important;
    font-family: $font-nunito-sans !important;
}

#app {
    min-height: 100vh;
}

// =======================================================
// MISC
// =======================================================


// =======================================================
// NAVBAR
// =======================================================

.navbar-brand-logo {
    width: 30px;
}