
// =======================================================
// GERAL
// =======================================================

body {
    font-family: $font-oswald !important;
    font-family: $font-roboto !important;
    font-family: $font-asap !important;
    font-family: $font-exo !important;
    font-family: $font-open-sans !important;
    font-family: $font-nunito-sans !important;
}

#app {
    min-height: 100vh;
}

// =======================================================
// MISC
// =======================================================


// =======================================================
// NAVBAR
// =======================================================

.navbar-brand-logo {
    width: 30px;
}


// =======================================================
// LOGIN PAGE
// =======================================================

.login-card {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    max-width: 460px;
    margin: 0 auto;
    color: #505050;
    p {
        margin: 0;
        text-align: center;
    }
}