@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap);@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap);@import url(https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap);@import url(https://fonts.googleapis.com/css?family=Asap:400,500,600&display=swap);@import url(https://fonts.googleapis.com/css?family=Exo:400,500,600&display=swap);@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap);body {
  font-family: "Oswald", sans-serif !important;
  font-family: "Roboto", sans-serif !important;
  font-family: "Asap", sans-serif !important;
  font-family: "Exo", sans-serif !important;
  font-family: "Open Sans", sans-serif !important;
  font-family: "Nunito Sans", sans-serif !important;
}

#app {
  min-height: 100vh;
}

.navbar-brand-logo {
  width: 30px;
}

.login-card {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  max-width: 460px;
  margin: 0 auto;
  color: #505050;
}
.login-card p {
  margin: 0;
  text-align: center;
}

.btn {
  font-size: 1rem;
  text-transform: none;
  box-shadow: none !important;
  padding: 0.375rem 0.75rem !important;
  border-radius: 4px !important;
  margin: 0;
}

button:hover, .btn:hover {
  opacity: 0.8;
}

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}
@keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}